#theme-icon {
  font-size: 20px;
}
#theme-light {
  color: #888;
  font-size: 20px;
}
.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App-light {
  color: black;
  background-color: rgb(255, 254, 254);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-light {
  background-color: #a95656;
}
